[Unit]
Description=Python service for SmallCube
After=network.target


[Service]
User=root
Group=www-data
WorkingDirectory=/opt/SmallCube
Environment="PATH=/opt/SmallCube/venv/bin"
ExecStart=/opt/SmallCube/venv/bin/python smallcube.py

[Install]
WantedBy=multi-user.target